@font-face {
  font-family: 'PingFangSC-regular';
  src: url('PingFangRegular.ttf'),
  url('PingFangRegular.otf'),
  url('PingFangRegular.eot');

}
@font-face {
  font-family: 'PingFangSC-Medium';
  src: url('PingFangSC-Medium.ttf'),
  url('PingFangSC-Medium.otf'),
  url('PingFangSC-Medium.eot');

}
